html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #212121;

  color: #108A8F;
  color: #14FFEC;

  /* font-family: 'Acme', sans-serif;
  font-family: 'Lobster', cursive; */
  font-family: 'Righteous', cursive;
  /* font-family: 'Ethnocentric Rg', sans-serif; */
}

.page {
  flex: 1;
  width: 100%;
  border-radius: 0;
}

button {
  background-color: rgb(239,239,239);
  /* color: #108A8F; */
  border-radius: 8px;
}

button:hover {
  /* color: #14FFEC; */
  color: white;
  background-color: gray;
}

.disabledButton:hover {
  color: black;
  background-color: rgb(239,239,239);
}

h1 {
  font-size: 3.5rem;
}

h1, h2 {
  font-style: italic;
  color: #464646;
}

div {
  border-radius: 10px;
}
textarea {
  border-radius: 10px;
}
input {
  border-radius: 10px;
}

p {
  margin-bottom: 0;
}

::placeholder {
  color: #323232;
}

.loginPage {
  background: linear-gradient(#FFDE7D , #F6416C );
}

.registerPage {
  background: linear-gradient(#FFCEF3 , #0092b3);
}

.gamesPage {
  background: linear-gradient(#ffbd93 , #e15eff );
}

.coupPage {
  background: linear-gradient(#bebebe, #D72323);
}

.splendorPage {
  background: linear-gradient(#fdde56, #185f72);
}